body {
		background-color:#666;
}

#header {
		background-color:#FF6600;
}

#container {
		background-color:#FFFFFF;
		border-color: #000;
}

#contentdiv {
		background-color:#FFFFFF;
		border-color:#000000;
}

#footer {
		background-color: #F60;
		border-color: #000000;
}

#title {
		background-color: #FF6600;
}

h1.title {
		text-shadow: 0px 3px 5px #FFFFFF; /* I never learned this property, but it looks cool ~Kevin */
		margin-bottom:0px;
}

a {
		color: #000000;
		text-decoration:none;
}

#navMenu li {
		background:#FFF;
}
